.LaunchCard {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0px;
}

.LaunchCard img {
    height: 150px;
    background-color: #ddd;
}

.LaunchCardDetails {
    padding: 5px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.LaunchCardDetails ul{
    margin: 0px;
}

.mission-name {
    color: #51369c;
    font-weight: bold;
    font-size: 0.8em;
}

.detail-heading{
    font-size: 0.8em;
    margin: 3px 0px;
}